---
import Layout from '../layouts/Layout.astro';

import { getCollection } from "astro:content";

// Fetch the blog posts
const posts = await getCollection("blog");

---

<Layout title="Welcome to Astro.">
	<div class="card" style="width: 300px;">
	    <div class="card-content">
	        <div class="media">
	            <div class="media-content has-text-centered">
	                <h1 class="title is-4">Sampleshop</h1>
	            </div>
	        </div>

	        <div class="content">

			  {posts.map((post) => (

			    <p class="has-text-centered">
	                <a href={`/blog/${post.slug}`} class="button is-link is-fullwidth">{post.data.title}</a>
	            </p>

			  ))}

	        </div>
	    </div>
	</div>
</Layout>
